---
layout: default
archive: false
comments: false
---

<div class="container">
	<div>
		<p>Feel free to email me at deezignsbydeehamlin@gmail.com</p>
		<p>If you are looking to make an offer on a piece please include the URL to the piece.</p><br>

		<p>If you are commissioning a new piece, the following information would be great to include:</p>
		<ul>
			<li>Your name</li>
			<li>Description of what you are interested in</li>
			<li>Name or url of one of my gourds that sparked your interest</li>
			<li>Attach reference images as necessary</li>
		</ul>
		<p>If you are unsure of what you want in particular, that is okay. 
			Reach out and we can figure it out together.</p>
	</div>
	<br>
	<button onclick="document.location='mailto:deezignsbydeehamlin@gmail.com'">Email Me</button> 
</div>